
 td {
	padding-bottom: 0.2em;
	
}

.dashboard-value-container {
	text-align: right;
	vertical-align: top;
}

.dashboard-value-label-container {
	white-space: pre;
	color: rgb(180,180,180);
}

#dashboard-chart {
	margin-top: 1.5em;
	clear:both;
}

#dashboard-chart-placeholder, #model-chart-placeholder {
	width: 100%;
	height: 120px;
	margin-bottom: 0.5em;
}

#dashboard-legend-placeholder, #model-legend-placeholder {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
}

.ui-page, .ui-content {
	background-color: #FFF;
	background-image: none;
}

#dashboad-settings-navbar-placeholder {
	width: 18px;
	height: 18px;
	background-image: '/css/images/icons-18-white.png';
	background-position: -288px 50%;
}

/* Flot ammendments */
td.legendLabel {
	padding-left: 5px;
	padding-right: 10px;
}

/* Water saving tipps accordion */
#model-money-saving-placeholder {
	font-weight: bold;
}

